/*All My Changes are here*/

@media (max-width: 575.98px) {
    .r-header{
        padding-top: 30px !important;
    }
}
@media (max-width: 992px) {
    .landing-travel-about .content .right .features-photos{
        width: 100% !important;
        margin-bottom: 2rem;
    }
}

.travel-testimonial .owl-dots{
    width: 100%;
}

.mt--4{
    margin-top: -4rem
}

@media (max-width: 575.98px) {
    .mt--4{
        margin-top: 0
    }
}
.border-radius-none{
    border-radius: 0;
}
